.root {
    display: flex;
    transition: 0.2s all;
}

.active {
    background-color: rgba(109, 109, 130, 0.2)
}

.root:hover {
    padding-left: 20px;
    background-color: rgba(109, 109, 130, 0.1)
}
